@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@charset "UTF-8";
html, bodty, div, span, applet, object, iframe, h1, h2,h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfm, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, sub, tt, var, b, u, i, center, dl, dd, dt, ol, ul, li, fieldset,
form, legend, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav,output, ruby, sction, summary, time, mark, audio, video
{
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;

}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
display: block;
}
body
{
background:#efefef;
background-image:url('background3.jpg');
background-repeat:repeat-x;
}
.container
{
width: 1000px;
height: auto;
margin: auto;
border-radius: 10px;
box-shadow: 4px 4px 10px black;
background: gray;
}
.header
{
width:1000px;
height:150px;
margin:auto;
border-radius:10px;
}
#logo{
float:center;
width:1000px;
height: 100px;
}
.menubar
{
width: 1000px;
height: 50px;
background:#C0C0C0;
color: white;
color: #fff;
}
#menu
{
padding: 0;
margin: 0;
line-height: 40px;
float: left;
}
 #menu  li
 {
 list-style: none;
 display: inline;
 }
 #menu a
 {
 text-decoration: none;
 color: #fff;
 padding: 8px;
 margin: 5px;
 font-size: 18px;
 font-family: COMIC SANS MS;
 }
 #menu a:hover
 {
 color: orange;
 font-weight: bolder;
 text-decoration: underline;
 }
 #form
 {
 float: right;
 padding-right: 8px;
 line-height:50px;
 }
.content_wrapper
{
width: 1000px;
height: auto;
margin: auto;
background: #C0C0C0;
}
#content_area
{
width: 800px;
height:auto;
float: right;
color:black;
 background-color:  #efefef;
}
#side_bar
{
width: 200px;
height: auto;
background: #C0C0C0;
float: left;
margin: auto;
}

#footer
{
width: 1000px;
height: 50px;
background: gray;
clear: both;
border-radius: 10px;
box-shadow: 4px 4px 10px black; 
text-align: center;
 font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
color: #fff;
text-transform: uppercase;
font-weight: bolder;

}
#product_box
{
width:780px;
text-align:center;
margin-left: 30px;
margin-bottom:10px;
}
#one_product
{
float:left;
margin-left: 30px;
padding: 10px;
font-weight: bold;
}
#one_product img
{
border: 2px solid black;
border-radius: 10px;
}
#cart
{
width: 800px;
height: 50px;
background: #99CCFF;
}