body{
    background:silver;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
}
h2{
    text-align: center;
    text-decoration: none;
    border: hidden;
    text-emphasis-color: beige;
    text-decoration-color: ghostwhite;
    font-family:Times Roman;
    font-style: oblique;
    font-size:18px;
    
  }
  p{
      
    text-align: center;
    text-decoration: none;
    border: hidden;
    text-emphasis-color: beige;
    text-decoration-color: ghostwhite;
    margin:5px 0 0 0;
    display:inline;
    color: brown;
    font-family: Georgia;
    font-size: 14px;
    font-style:oblique
      
  }
.form{
    background-attachment:scroll;
    border-style: hidden;
    text-align: center;
    height:auto;
    width: 800px;
    float:left;
    padding:auto;
    margin-left:132px;
	margin-right:130px;
    background-color:silver;
    background-position:center;
	border-radius: 10px;
    box-shadow: 4px 4px 10px black;

       
    
}
.form ul{
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0;
    
}
.form li{
    list-style-type: none;
    padding:12px;
    border-bottom:0px solid silver;
    position: relative;
    border-radius: 2px;
    
}
.form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.form input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
    
}
.form_hint{
    font-size:11px;
    float:right;
    
    
    
}

button {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}  
:-moz-placeholder {
    color: blue;
}
 
::-webkit-input-placeholder {
    color: blue;
}

*:focus {outline: none;}