@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
}
#body{
	background-color:#777;
}
#container{	
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
#header{
	width:100%;
	min-height:60px;
	background-color:#03F;
	border-radius:0;
}
#content{
	width:100%;
	min-height:500px;
	background-color:#bbb;
}
#sidebar{
	width: 20%;
	float:left;
	background-color:#9C0;
	min-height: 490px;
	margin-top: 10px;
	border-radius:15px;
	margin-left: 10px;
}
#main-content{
	width:77.5%;
	float:right;
	max-height:490px;
	margin-top:10px;
	color: #eee;
	margin-right:1%;
	
}
.form-container{
	
	width: 40%
	min-height:150px;
	float:center;
	position:relative;
	margin-left:40px;
	margin-right:40px;
	margin-top: 40px;
	background-color:#bbb;
	
	
	
	
	}
#footer{
	background-color:#bbb;
	height:auto;
	border-radius:0 0 20px 20px;
	color:#eee;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.side-title{
	display:block;
	width:200px;
	height:40px;
	text-align:center;
	border-radius:20px;
	background-color:#03f;
	padding-top:6px;	
	margin-left:auto;
	margin-right:auto;
	color:#eee;
}
#sidebar > ul > li{
	list-style-type:circle;
	color:#eee;
}
#sidebar > ul > li > a{
	color:#eee;
	font-weight:800;
	font-size:18px;
	text-decoration:none;
}
#sidebar > ul > li:hover{
	background-color:#bbb;
}
#header-title{
	width:100px;
	margin-left:77px;
	background-color:#222;
	color:#eee;
	font-size:24px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height:60px;
	padding-top:10px;
	padding-left: 16px;
	font-weight:bold;
}
